* {
  position: relative;
  box-sizing: border-box;
}

:root {
  --body-background-color: hsl(0, 0%, 90%);

  --game-field-background-color: hsl(0, 0%, 95%);
  --game-field-cell-background-color: hsl(0, 0%, 98%);
  --game-field-cell-background-color-hover: hsl(0, 0%, 100%);
}

html {
  background-color: var(--body-background-color);

  user-select: none;
  pointer-events: none;
}

html,
body,
main {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
  color: #333;

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: flex-start;

  height: 100%;
  width: 100%;
}
